<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jordan's Notes - $title$</title>
  <link rel="stylesheet" href="/css/mybulma.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/default.css">
</head>

<body>
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <header>
          <nav class="navbar" aria-label="Main Navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">Jordan's Notes</a>
            </div>

            <div class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/about.html">About</a>
                <a class="navbar-item" href="/contact.html">Contact</a>
                <a class="navbar-item" href="/archive.html">Archive</a>
              </div>
            </div>
          </nav>
        </header>

        <section class="section">
          <div class="content">
            <h1>$title$</h1>
            $body$
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

</html>